# ignore pytest failed test cache
assets
report.html
.cache
new_test/.cache
.DS_Store
__pycache__
**/__pycache__
results

.idea/
*.exe
*.obj
*.dll
*Debug
*Release
*ipch
*.user
*.pdb
*.zip
*.dll
*.7z
*.suo
*.ncb
*.sdf
*.tlog
*.idb
*.log*
*.opensdf
*.pyc
*.swp
.settings
*.pid
*.orig
*.retry

